@charset "UTF-8";
/*!
* Aspect Ratio Calculator
* Copyright 2022
*/



/* General Variables */
:root {
    --border-width: 2px;
    --border-radius: 10px;
  
    --animate-speed: 200ms;
  
    --toggle-g30: #1e2022;
    --toggle-g35: #2d2f31;
    --toggle-g40: #404346;
    --toggle-g50: #7c8084;
    --toggle-g70: #dce0e3;
    --toggle-g90: #ffffff;
  
    /* Black */
    /*
    --color-theme-0: black;
    --color-theme-1: hsl(0, 0%, 10%);
    --color-theme-2: hsl(0, 0%, 20%);
    --color-theme-3: hsl(0, 0%, 30%);
    --color-theme-4: hsl(0, 0%, 40%);
    --color-theme-5: hsl(0, 0%, 50%);
    --color-theme-6: hsl(0, 0%, 60%);
    --color-theme-7: hsl(0, 0%, 70%);
    --color-theme-8: hsl(0, 0%, 80%);
    --color-theme-9: hsl(0, 0%, 90%);
    --color-theme-10: white;
    --color-intense-1: #ec4e6e;
    */
  
    /* White */
    --color-theme-0: white;
    --color-theme-1: hsl(0, 0%, 95%);
    --color-theme-2: hsl(0, 0%, 90%);
    --color-theme-3: hsl(0, 0%, 85%);
    --color-theme-4: hsl(0, 0%, 70%);
    --color-theme-5: hsl(0, 0%, 50%);
    --color-theme-6: hsl(0, 0%, 40%);
    --color-theme-7: hsl(0, 0%, 30%);
    --color-theme-8: hsl(0, 0%, 20%);
    --color-theme-9: hsl(0, 0%, 10%);
    --color-theme-10: black;
    --color-intense-1: #ec4e6e;
  }
  
  /* Font-Face */
  @font-face {
    font-family: 'bootstrap-icons';
    font-display: swap;
    src: url('../fonts/bootstrap-icons.woff') format('woff'), 
        url('../fonts/bootstrap-icons.woff2') format('woff2');
  }
  
  /* General Style */
  body {
    font-family: "Lato", Helvetica, sans-serif;
    background-color: var(--color-theme-0);
    background: var(--color-theme-0);
    min-height: 100vh;
    color: var(--color-theme-10);
    transition: color var(--animate-speed) ease-in-out,
      background var(--animate-speed) ease-in-out;
  }
  .navbar,
  footer {
    background-color: var(--color-theme-2);
  }
  .nav-link,
  .navbar-dark,
  .navbar-dark .navbar-brand {
    color: var(--color-theme-10);
    transition: color var(--animate-speed) ease-in-out,
      background var(--animate-speed) ease-in-out;
  }
  .nav-link:hover,
  .navbar-dark:hover,
  .navbar-dark .navbar-brand:hover {
    color: var(--color-theme-9);
  }
  .navbar-toggler {
    border: none;
  }
  .spacer {
    height: 30px;
  }
  .main-title h2 {
    font-size: 1.5em;
  }
  h6 {
    font-weight: 700;
  }
  hr {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  a {
    color: var(--color-intense-1);
  }
  a:hover {
    color: var(--color-theme-6);
  }
  .link-soft {
    color: var(--color-theme-6);
  }
  
  /* Upload Containers, Box and Upload */
  .container {
    color: var(--color-theme-10);
  }
  .upload-container {
  }
  .animate {
    transition: color var(--animate-speed) ease-in-out,
      background var(--animate-speed) ease-in-out;
  }
  .upload-box {
    width: 100%;
    background-color: var(--color-theme-2);
    border-radius: calc(var(--border-radius) * 2);
    z-index: 10;
    border: solid var(--color-theme-2);
  }
  .options-box {
    background-color: var(--color-theme-2);
    border-radius: calc(var(--border-radius) * 2);
  }
  .show-container {
  }
  .show-container img,
  .show-container .placeholder {
    border-radius: var(--border-radius);
    max-width: 100%;
  }
  .show-box {
    background-color: var(--color-theme-3);
    border-radius: calc(var(--border-radius) * 2);
    min-height: 100px;
  }
  .show-single-image {
    position: relative;
  }
  .show-size-tag {
    position: absolute;
    text-align: center;
    top: 12px;
    left: 12px;
    padding: 4px 13px 4px 13px;
    border-radius: var(--border-radius);
    background-color: var(--color-theme-1);
    color: var(--color-theme-10);
    z-index: 100;
  }
  .show-multiple-image {
    position: relative;
    margin-bottom: 10px;
  }
  .input-group-text {
    background-color: white;
  }
  .temp-image {
    width: 100%;
  }
  .example-image {
    margin: 6px;
    cursor: pointer;
    border: solid 2px var(--color-theme-2);
    border-radius: var(--border-radius);
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
  }
  .example-image:hover {
    border-color: var(--color-intense-1);
    transform: scale(1.02);
  }
  .category-container {
  }
  .preset-size-button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .preset-size-button {
    display: block;
    width: 80px;
    height: 80px;
    margin: 3px;
    color: var(--color-theme-10);
    background-color: var(--color-theme-1);
    border: 1px solid var(--color-theme-5);
  
    border-radius: var(--border-radius);
    text-align: center;
  }
  .preset-size-button:hover {
    color: var(--color-intense-1);
    background-color: var(--color-theme-0);
    border-color: var(--color-intense-1);
  }
  .preset-size-tag-name {
    display: block;
    font-size: 0.9em;
    color: var(--color-theme-10);
  }
  .preset-size-tag-size {
    font-size: 0.7em;
    color: var(--color-theme-6);
  }
  .preset-size-selected {
    border-color: var(--color-intense-1);
    color: var(--color-intense-1);
  }
  .border-intense {
    border: var(--color-intense-1) solid;
  }
  .alert-fixed {
    position: fixed; 
    top: 1em; 
    left: 1em; 
    width: calc(100% - 2em);
    z-index: 5000;
  }
  
  
  
  /* Buttons and options */
  .bi {
    pointer-events: none;
  }
  .bi-mr {
    /* Icons in button */
    padding-right: 10px;
  }
  .arr-resize-mode {
    color: var(--color-intense-1);
    opacity: 0;
    font-size: 1.4em;
  }
  .arr-resize-mode-sel {
    opacity: 1;
  }
  .btn {
    cursor: pointer;
  }
  .btn-resize-mode {
    padding: 7px;
    width: 100%;
    border: solid 2px var(--color-theme-1);
    border-radius: var(--border-radius);
    background-color: var(--color-theme-1);
    color: var(--color-theme-10);
  }
  .btn-resize-mode:hover,
  .btn-resize-mode-sel {
    border-color: var(--color-intense-1);
    color: var(--color-intense-1);
  }
  .btn-download {
    padding: 7px;
    width: 100%;
    border: solid 2px black;
    border-radius: var(--border-radius);
    background-color: var(--color-theme-0);
    border-color: var(--color-theme-0);
    color: var(--color-intense-1);
  }
  .btn-download:hover {
    border-color: var(--color-intense-1);
    color: var(--color-intense-1);
  }
  .mobile-download-tag {
    color: var(--color-theme-8);
  }
  .btn-intense {
    padding: 0.5em 1.2em;
    border-radius: var(--border-radius);
    border: solid var(--border-width) var(--color-intense-1);
    color: var(--color-intense-1);
  }
  .btn-intense:hover {
    background-color: var(--color-intense-1);
    border-color: var(--color-intense-1);
    color: var(--color-theme-0);
  }
  .btn-update {
    padding: 7px;
    width: 100%;
    border: solid 2px black;
    border-radius: var(--border-radius);
    background-color: var(--color-theme-0);
    color: var(--color-theme-10);
  }
  .btn-update:hover {
    color: var(--color-intense-1);
  }
  .btn-100 {
    width: 100%;
  }
  .preset-list {
  }
  .text-small {
    font-size: 0.85em;
  }
  .text-small-2 {
    font-size: 0.6em;
  }
  .span-options {
    margin-right: 0.5em;
  }
  .type {
    /* <<<< to be removed ? */
    border-radius: 4px;
    width: 50px;
    border: 1px solid grey;
    font-size: 0.95em;
  }
  .scale-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: var(--color-theme-0);
  }
  
  .scale-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: var(--color-theme-0);
    border: var(--border-width) solid var(--color-intense-1);
    overflow: visible;
    cursor: pointer;
  }
  .scale-slider::-moz-range-thumb { 
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: var(--color-theme-0);
    border: var(--border-width) solid var(--color-intense-1);
    overflow: visible;
    cursor: pointer;
  }
  .scale-slider-selected {
    
  }
  .inputValue {
    text-align: center;
    padding: 5px;
    margin: 3px;
    max-width: 120px;
    border: solid 2px black;
    border-radius: var(--border-radius);
    background-color: var(--color-theme-3);
    border-color: var(--color-theme-1);
    color: var(--color-intense-10);
  }
  .input-value-selected {
    border-color: var(--color-intense-1);
  }
  
  /* Sprites and Images */
  .gr-light {
    z-index: 5;
  }
  .gr-logo-light {
    background-image: url("/assets/grLogo-b.svg");
    background-repeat: no-repeat;
    background-position: -15px -3px;
    width: 110px;
    height: 110px;
  }
  .gr-logo-dark {
    background-image: url("/assets/grLogo-w.svg");
    background-repeat: no-repeat;
    background-position: -15px -3px;
    width: 110px;
    height: 110px;
    opacity: 0;
    position: absolute;
  }
  
  .gr-02 {
    background-image: url("../assets/gr02.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: contain;
  }
  .gr-03 {
    background-image: url("../assets/gr03.svg");
    background-repeat: no-repeat;
    width: 253px;
    width: 180px;
    height: 22px;
    background-size: contain;
  }
  
  
  /* Animations */
  .slide-top-1 {
    animation-duration: 1s;
    animation-name: slidetotop;
  }
  .slide-top-2 {
    animation-duration: 1.5s;
    animation-name: slidetotop;
  }
  @keyframes slidetotop {
    from {
      /*margin-top: 30px;*/
      opacity: 0.2;
    }
    to {
      /*margin-top: 0px;*/
      opacity: 1;
    }
  }
  
  /* FilePond adaptation */
  .filepond-container {
    width: 100%;
  }
  .filepond--root {
    margin-bottom: 0 !important;
  }
  .filepond--root .filepond--drop-label {
    color: var(--color-theme-9);
    font-size: 1.4em;
  }
  .filepond--file {
    color: var(--color-theme-10) !important;
    background-color: var(--color-theme-1);
  }
  .filepond--file-action-button {
    cursor: pointer;
    background-color: var(--color-theme-4) !important;
  }
  .filepond--panel-root {
    background-color: transparent !important;
    /*border: var(--border-width) solid var(--color-theme-3);*/
  }
  /* 
  .filepond--root .filepond--drop-label {
    height: 500px;<<<<< CODE NOT WORKING ??
    color: var(--color-theme-9);
    font-size: 1.4em;
  }*/
  /*
  .filepond--root .filepond--credits {
    display: none;
  }
  */
  
  
  
  /* Toggle Light Dark mode */
  .mode-toggle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem;
  }
  .label-dark {
    padding-right: 0.5rem;
    cursor: pointer;
  }
  .label-light {
    padding-left: 0.5rem;
    cursor: pointer;
  }
  .toggle-switch {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 28px;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    display: inline-block;
    background: var(--toggle-g50);
    cursor:pointer;
  }
  body.dark .toggle-switch {
    width: 48px;
  }
  .toggle-switch,
  .toggle-switch:before,
  .toggle-switch:after {
    transition: all var(--animate-speed) ease-in-out;
  }
  body.dark .toggle-switch {
    background: var(--toggle-g70);
  }
  .toggle-switch:before {
    top: 4px;
    left: 24px;
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    border-radius: 12px;
    background: var(--toggle-g70);
  }
  body.dark .toggle-switch:before {
    left: 4px;
    background: var(--toggle-g30);
  }
  .toggle-switch:after {
    content: "";
    top: 14px;
    right: 2px;
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    border-radius: 0.5px;
    background: var(--toggle-g30);
  }
  body.dark .toggle-switch:after {
    top: -2px;
    right: 2px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: var(--toggle-g70);
  }
  .toggle-switch:hover,
  .toggle-switch:hover:after {
    background: var(--toggle-g40);
  }
  body.dark .toggle-switch:hover,
  body.dark .toggle-switch:hover:after {
    background: var(--toggle-g90);
  }
  .noselect {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .disableEasingTemporarily,
  .disableEasingTemporarily:after,
  .disableEasingTemporarily:before {
    -o-transition-property:none!important;
    -moz-transition-property:none!important;
    -ms-transition-property:none!important;
    -webkit-transition-property:none!important;
    transition-property:none!important;
    -o-transform:none!important;
    -moz-transform:none!important;
    -ms-transform:none!important;
    -webkit-transform:none!important;
    transform:none!important;
    -webkit-animation:none!important;
    -moz-animation:none!important;
    -o-animation:none!important;
    -ms-animation:none!important;
    animation:none!important;
  }
  
  /* Mobile Adjustemnts Portrait */
  @media only screen and (max-width: 600px) {
    .main-title h2 {
      font-size: 1.5em;
    }
    h5 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.3em;
    }
    h1 {
      font-size: 1.6em;
    }
    .filepond--root .filepond--drop-label {
      font-size: 1.3em;
    }
    .gr-logo-light, .gr-logo-dark {
      background-position: -10px -4px;
      background-size: 80px;
      width: 80px;
      height: 80px;
    }
    .logo-text {
      
    }
    .main-header {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }
    .example-image {
      width: auto;
      height: 140px;
      margin: 3px;
    }
    .arr-resize-mode {
      display: none;
    }
  }
  @media only screen and (max-width: 320px) {
    .main-title h2 {
      font-size: 1.3em;
    }
    h1 {
      font-size: 1.4em;
    }
    h4 {
      font-size: 1.1em;
    }
    h5 {
      font-size: 1.3em;
    }
    .filepond--drop-label {
      font-size: 1.1em !important;
    }
    
    .example-image {
      width: auto;
      height: 110px;
      margin: 3px;
    }
  }
  