<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
        content="Online photo resizer to reduce image & photo size without losing quality. Use our free image resizer to resize images & photos online in multiple formats easily." />
    <meta name="author" content="" />

    <!-- Title -->
    <!--<title>Resize your image for free online</title>-->
    <title>{{ title }}</title>

    <!-- OG tags and favicons -->
    <meta property="og:title" content="Aspect Ratio Calculator for free [Online App]">
    <meta property="og:site_name" content="Aspect Ratio Calculator">
    <meta property="og:url" content="https://aspectratiocalculator.herokuapp.com">
    <meta property="og:description"
        content="Calculate the aspect ratio for any value and search for standard aspect ratio combinations.">
    <meta property="og:type" content="website">

    <!-- Bootstrap CSS -->
    <!-- Bootstrap Copyright (c) 2011-2022 Twitter, Inc. -->
    <!--           Copyright (c) 2011-2022 The Bootstrap Authors -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Custom Font -->
    <link rel="preload" as="style" href='http://fonts.googleapis.com/css?family=Lato:200,400,700&display=swap' rel='stylesheet' type='text/css'>

    <!-- FilePond-->
    <!-- Copyright (c) 2019 PQINA | Rik Schennink <rik@pqina.nl> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/filepond/4.30.3/filepond.min.css" />

    <!-- Google Analytics -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-THHY4V7YZ2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-THHY4V7YZ2');
    </script>
    -->

    <!-- Schema Markup -->
    
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "WebSite",
          "name": "Aspect Ratio Calculator",
          "url": "https://domain.com",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "{search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
    </script>
</head>

<body>
    <!-- Responsive navbar-->
    <nav id="navbar" class="navbar animate navbar-expand-lg shadow-sm sticky-sm-top navbar-light">
        <div class="container-fluid px-3">
            <a class="navbar-brand nav-link" href="/">Aspect Ratio Calculator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- Language -->
                    <li class="nav-item ms-3">
                        <a class="nav-link dropdown-toggle disabled" href="#!">English</a>
                    </li>
                    <!-- Dark/Light toggle mode -->
                    <li class="nav-item ms-3">
                        <div class="mode-toggle noselect nav-link">
                            <span class="label-dark">N</span>
                            <div class="toggle-switch"></div>
                            <span class="label-light">D</span>
                        </div>
                    </li>
                    <!-- Main Menu -->
                    <li class="nav-item ms-3">
                        <a class="nav-link {{ 'active' if active_page == '/'}}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link {{ 'active' if active_page == '/contact'}}" href="contact">Contact Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Title -->
    <section class="main-title">
        <div class="container main-header px-3 px-lg-5 pt-3 pb-4">
            <div class="d-flex align-items-center">
                <div class="graphic-light gr-logo-light">(logo)</div>
                <div class="graphic-dark gr-logo-dark">(logo)</div>
                <h1 class="logo-text"><span style="font-weight: 400;">Aspect Ratio Calculator</span></h1>
            </div>
            <h2>Calculate the aspect ratio for any value and search for standard aspect ratio.</h2>
        </div>
    </section>

    <!-- Content  -->
    <section>
        <div class="container px-3 px-lg-5">
            {% block content %} {% endblock %}
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-4 animate">
        <!-- Footer nav -->
        <nav class="nav mb-2">
            <div class="container-fluid">
                <ul class="nav ms-auto justify-content-center mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms">Terms & Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Footer text -->
        <div class="container px-4 px-lg-5 py-2">
            <p class="m-0 text-center text-small">© 2022 <a href="https://domain.com"
                    class="link-soft">domain.com</a></p>
        </div>
    </footer>

    <!-- Core theme JS -->
    <script defer src="js/colortheme.js"></script>
    <script type="module" src="js/scripts.js"></script>

    <!-- Filepond -->
    <!-- Copyright (c) 2019 PQINA | Rik Schennink <rik@pqina.nl> -->
    <!--<script src="https://unpkg.com/filepond/dist/filepond.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filepond/4.30.3/filepond.min.js"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
